<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>게시물작성 페이지</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<style>
    .fieldError {
        border-color: #bd2130;
        color: #dc3545;
    }
</style>
<body>
    <div class="container">
        <div th:replace="fragments/bodyHeader :: bodyHeader"/>
        <div>
            <h4>게시물 작성</h4>
            <form id="post_form" role="form" th:action="@{/posts/new}" th:object="${postForm}" method="post">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label th:for="category">카테고리</label>
                        <select th:field="*{category}" class="form-control"
                                th:class="${#fields.hasErrors('category')}? 'form-control fieldError' : 'form-control'">
                            <option value="">카테고리 선택</option>
                            <option th:each="category: ${postForm.categories}"
                                    th:value="${category}"
                                    th:text="${category}"/>
                        </select>
                        <p class="fieldError" th:if="${#fields.hasErrors('category')}"
                           th:errors="*{category}">Incorrect date</p>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <label th:for="title">제목</label>
                        <input type="text" th:field="*{title}" class="form-control" placeholder="제목을 입력하세요"
                               th:class="${#fields.hasErrors('title')}? 'form-control fieldError' : 'form-control'">
                        <p class="fieldError" th:if="${#fields.hasErrors('title')}"
                           th:errors="*{title}">Incorrect date</p>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <label th:for="content">내용</label>
                        <!-- 네이버 스마트 에디터 -->
                        <textarea th:field="*{content}" rows="10" cols="100" style="width: 100%;" class="form-control"
                                  th:class="${#fields.hasErrors('content')}? 'form-control fieldError' : 'form-control'">
                        </textarea>
                        <p class="fieldError" th:if="${#fields.hasErrors('content')}"
                           th:errors="*{content}">Incorrect date</p>
                    </div>
                </div>
            </div>
            <div class="form-group" th:align="right">
                <button type="button" class="button button-contactForm btn_1" onclick="postform_check();">작성</button>
            </div>
            </form>
        </div>
    </div>
<div th:replace="fragments/footer :: footer"/>
</body>
<script>
    let oEditors = []

    function smartEditor () {
        nhn.husky.EZCreator.createInIFrame({
            oAppRef: oEditors,
            elPlaceHolder: "content",  //textarea ID 입력
            sSkinURI: "/static/smarteditor/SmartEditor2Skin.html",  //martEditor2Skin.html 경로 입력
            fCreator: "createSEditor2",
            htParams : {
                // 툴바 사용 여부 (true:사용/ false:사용하지 않음)
                bUseToolbar : true,
                // 입력창 크기 조절바 사용 여부 (true:사용/ false:사용하지 않음)
                bUseVerticalResizer : false,
                // 모드 탭(Editor | HTML | TEXT) 사용 여부 (true:사용/ false:사용하지 않음)
                bUseModeChanger : false
            }
        });
    }

    function postform_check(){
        //에디터에 작성된 값을 textarea에 전달
        oEditors.getById["content"].exec("UPDATE_CONTENTS_FIELD", []);

        // var category = $('#category').val();
        // var title = $('#title').val();
        // var content = $('#content').val();
        //
        // //카테고리 체크
        // if (category == "") {
        //     $('#category_error').text("카테고리를 입력하세요");
        //     $('#category_error').focus();
        //     return false;
        // }
        //
        // //제목 체크
        // if (title === "") {
        //     $('#title_error').text("제목을 입력하세요");
        //     $('#title_error').focus();
        //     return false;
        // }
        //
        // //내용 체크
        // if (content === "<p>&nbsp;</p>") {
        //     $('#content_error').text("내용을 입력하세요");
        //     $('#content_error').focus();
        //     return false;
        // }

        $('#post_form').submit();
    }

    $(document).ready(function() {
       smartEditor();
    });

</script>
</html>