<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>게시판페이지</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div th:replace="fragments/bodyHeader :: bodyHeader"/>
<!--================Blog Area =================-->
<section class="blog_area section_padding">
    <div class="container">
<!--        <table class="table table-striped">-->
<!--            <thead>-->
<!--            <tr>-->
<!--                <th>게시글번호</th>-->
<!--                <th>작성자</th>-->
<!--                <th>제목</th>-->
<!--                <th>카테고리</th>-->
<!--                <th>조회수</th>-->
<!--                <th>좋아요 수</th>-->
<!--                <th>작성일</th>-->
<!--                <th>좋아요</th>-->
<!--                <th>수정</th>-->
<!--                <th>삭제</th>-->
<!--            </tr>-->
<!--            </thead>-->
<!--            <tbody>-->
<!--            <tr th:each="post : ${paging}">-->
<!--                <td th:text="${post.id}"></td>-->
<!--                <td th:text="${post.authorNickName}"></td>-->
<!--                <td><a th:text="${post.title}" th:href="@{/posts/{id} (id=${post.id})}"></a></td>-->
<!--                <td th:text="${post.category}"></td>-->
<!--                <td th:text="${post.viewCount}"></td>-->
<!--                <td th:text="${post.likeCount}"></td>-->
<!--                <td th:text="${post.createDate}"></td>-->
<!--                <td><a th:href="@{/posts/{id}/like (id=${post.id})}" role="button">좋아요</a></td>-->
<!--                <td><a th:href="@{/posts/{id}/edit (id=${post.id})}" role="button">수정</a></td>-->
<!--                <td><a th:href="@{/posts/{id}/delete (id=${post.id})}" role="button">삭제</a></td>-->
<!--            </tr>-->
<!--            </tbody>-->
<!--        </table>-->


<!--            <div class="col-lg-8 mb-5 mb-lg-0">-->
        <div th:align="right">
            <a href="/posts/new" class="genric-btn primary">게시물 작성</a>
            <hr>
        </div>

        <div>
            <th:block th:each="post : ${paging}">
                <article class="blog_item">
                    <div class="blog_item_img">
                        <img class="card-img rounded-0" src="../../static/img/blog/single_blog_1.png" alt="">
                        <a href="#" class="blog_item_date">
                            <h3 th:text="${post.category}"></h3>
                            <p th:text="${post.createDate}"></p>
                        </a>
                    </div>

                    <div class="blog_details">
                        <a class="d-inline-block" th:href="@{/posts/{id} (id=${post.id})}">
                            <h2 th:text="${post.title}"></h2>
                        </a>
                        <ul class="blog-info-link">
                            <li><a th:text="${post.authorNickName}"><i class="far fa-user"></i></a></li>
                            <li><a><i class="far fa-eye" th:text="| 조회수 : ${post.viewCount}|"></i></a></li>
                            <li><a><i class="far fa-heart" th:text="| 좋아요 : ${post.likeCount}|"></i></a></li>
    <!--                                    <li><a href="#"><i class="far fa-comments"></i> 03 Comments</a></li>-->
                            <li><a role="button" th:onclick="'likePost(' + ${post.id} + ');'">좋아요</a></li>
                            <li><a th:href="@{/posts/{id}/edit (id=${post.id})}" role="button">수정</a></li>
                            <a th:href="@{/posts/{id}/delete (id=${post.id})}" role="button">삭제</a>
                        </ul>
                    </div>
                </article>
            </th:block>



            <!-- 페이징 처리 시작 -->
            <div th:if="${!paging.isEmpty()}">

            <nav class="blog-pagination justify-content-center d-flex">
                <ul class="pagination justify-content-center">
                    <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
                        <a class="page-link"
                           th:href="@{|?page=${paging.number-1}|}">
                            <span>이전</span>
                        </a>
                    </li>
                    <li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
                        th:classappend="${page == paging.number} ? 'active'"
                        class="page-item">
                        <a th:text="${page + 1}" class="page-link" th:href="@{|?page=${page}|}"></a>
                    </li>
                    <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
                        <a class="page-link" th:href="@{|?page=${paging.number+1}|}">
                            <span>다음</span>
                        </a>
                    </li>
                </ul>
            </nav>
            </div>
            <!-- 페이징 처리 끝-->
        </div>
<!--            </div>-->
<!--            <div class="col-lg-4">-->
<!--                <div class="blog_right_sidebar">-->
<!--                    <aside class="single_sidebar_widget search_widget">-->
<!--                        <form action="#">-->
<!--                            <div class="form-group">-->
<!--                                <div class="input-group mb-3">-->
<!--                                    <input type="text" class="form-control" placeholder='Search Keyword'-->
<!--                                           onfocus="this.placeholder = ''"-->
<!--                                           onblur="this.placeholder = 'Search Keyword'">-->
<!--                                    <div class="input-group-append">-->
<!--                                        <button class="btn" type="button"><i class="ti-search"></i></button>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <button class="button rounded-0 primary-bg text-white w-100 btn_1"-->
<!--                                    type="submit">Search</button>-->
<!--                        </form>-->
<!--                    </aside>-->

<!--                    <aside class="single_sidebar_widget post_category_widget">-->
<!--                        <h4 class="widget_title">Category</h4>-->
<!--                        <ul class="list cat-list">-->
<!--                            <li>-->
<!--                                <a href="#" class="d-flex">-->
<!--                                    <p>Resaurant food</p>-->
<!--                                    <p>(37)</p>-->
<!--                                </a>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <a href="#" class="d-flex">-->
<!--                                    <p>Travel news</p>-->
<!--                                    <p>(10)</p>-->
<!--                                </a>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <a href="#" class="d-flex">-->
<!--                                    <p>Modern technology</p>-->
<!--                                    <p>(03)</p>-->
<!--                                </a>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <a href="#" class="d-flex">-->
<!--                                    <p>Product</p>-->
<!--                                    <p>(11)</p>-->
<!--                                </a>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <a href="#" class="d-flex">-->
<!--                                    <p>Inspiration</p>-->
<!--                                    <p>21</p>-->
<!--                                </a>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <a href="#" class="d-flex">-->
<!--                                    <p>Health Care (21)</p>-->
<!--                                    <p>09</p>-->
<!--                                </a>-->
<!--                            </li>-->
<!--                        </ul>-->
<!--                    </aside>-->

<!--                    <aside class="single_sidebar_widget popular_post_widget">-->
<!--                        <h3 class="widget_title">Recent Post</h3>-->
<!--                        <div class="media post_item">-->
<!--                            <img src="img/post/post_1.png" alt="post">-->
<!--                            <div class="media-body">-->
<!--                                <a href="single-blog.html">-->
<!--                                    <h3>From life was you fish...</h3>-->
<!--                                </a>-->
<!--                                <p>January 12, 2019</p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="media post_item">-->
<!--                            <img src="img/post/post_2.png" alt="post">-->
<!--                            <div class="media-body">-->
<!--                                <a href="single-blog.html">-->
<!--                                    <h3>The Amazing Hubble</h3>-->
<!--                                </a>-->
<!--                                <p>02 Hours ago</p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="media post_item">-->
<!--                            <img src="img/post/post_3.png" alt="post">-->
<!--                            <div class="media-body">-->
<!--                                <a href="single-blog.html">-->
<!--                                    <h3>Astronomy Or Astrology</h3>-->
<!--                                </a>-->
<!--                                <p>03 Hours ago</p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="media post_item">-->
<!--                            <img src="img/post/post_4.png" alt="post">-->
<!--                            <div class="media-body">-->
<!--                                <a href="single-blog.html">-->
<!--                                    <h3>Asteroids telescope</h3>-->
<!--                                </a>-->
<!--                                <p>01 Hours ago</p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </aside>-->
<!--                    <aside class="single_sidebar_widget tag_cloud_widget">-->
<!--                        <h4 class="widget_title">Tag Clouds</h4>-->
<!--                        <ul class="list">-->
<!--                            <li>-->
<!--                                <a href="#">project</a>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <a href="#">love</a>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <a href="#">technology</a>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <a href="#">travel</a>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <a href="#">restaurant</a>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <a href="#">life style</a>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <a href="#">design</a>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <a href="#">illustration</a>-->
<!--                            </li>-->
<!--                        </ul>-->
<!--                    </aside>-->


<!--                    <aside class="single_sidebar_widget instagram_feeds">-->
<!--                        <h4 class="widget_title">Instagram Feeds</h4>-->
<!--                        <ul class="instagram_row flex-wrap">-->
<!--                            <li>-->
<!--                                <a href="#">-->
<!--                                    <img class="img-fluid" src="img/post/post_5.png" alt="">-->
<!--                                </a>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <a href="#">-->
<!--                                    <img class="img-fluid" src="img/post/post_6.png" alt="">-->
<!--                                </a>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <a href="#">-->
<!--                                    <img class="img-fluid" src="img/post/post_7.png" alt="">-->
<!--                                </a>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <a href="#">-->
<!--                                    <img class="img-fluid" src="img/post/post_8.png" alt="">-->
<!--                                </a>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <a href="#">-->
<!--                                    <img class="img-fluid" src="img/post/post_9.png" alt="">-->
<!--                                </a>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <a href="#">-->
<!--                                    <img class="img-fluid" src="img/post/post_10.png" alt="">-->
<!--                                </a>-->
<!--                            </li>-->
<!--                        </ul>-->
<!--                    </aside>-->


<!--                    <aside class="single_sidebar_widget newsletter_widget">-->
<!--                        <h4 class="widget_title">Newsletter</h4>-->

<!--                        <form action="#">-->
<!--                            <div class="form-group">-->
<!--                                <input type="email" class="form-control" onfocus="this.placeholder = ''"-->
<!--                                       onblur="this.placeholder = 'Enter email'" placeholder='Enter email' required>-->
<!--                            </div>-->
<!--                            <button class="button rounded-0 primary-bg text-white w-100 btn_1"-->
<!--                                    type="submit">Subscribe</button>-->
<!--                        </form>-->
<!--                    </aside>-->
<!--                </div>-->
<!--            </div>-->
    </div>
</section>
<div th:replace="fragments/footer :: footer"/>
<script>
    //게시물 좋아요
    function likePost(post_id) {
        $.ajax({
            type:'PUT',
            url:"/posts/" + post_id + "/like",
            contentType: 'application/json',
            success:function(data){
                if(data === 'OK') {
                    console.log('게시물 좋아요 완료');
                } else {
                    alert('로그인 이후 이용해주시기 바랍니다.');
                    console.log('게시물 좋아요 실패');
                }
            },
            error:function(){
                alert('통신실패');
            }
        });
    }
</script>
</body>
</html>