<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>게시판페이지</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div th:replace="fragments/bodyHeader :: bodyHeader"/>
<!--================Blog Area =================-->
<section class="blog_area section_padding">
    <div class="container">
            <div class="row">
                <div class="col-6"  th:align="left">
                    <a th:if="${session.loginUser != null}" href="/posts/new" class="button button-contactForm btn_1">게시물 작성</a>
                </div>
<!--                정렬 영역 -->
                <div class="col-6"  th:align="right">
                    <span>
                    <button class="btn btn dropdown-toggle border" type="submit" id="dropdownMenuButtonCategory" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        카테고리 선택
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButtonCategory">
                        <a class="dropdown-item" th:attr="onclick=|getPostList('?category=', this)|" th:text="전체"/>
                        <th:block th:each="category : ${categories}">
                            <a class="dropdown-item" th:attr="onclick=|getPostList('?category=*{category}', this)|" th:text="*{category}"/>
                        </th:block>
                    </div>
                </span>
                    <span>
                    <button class="btn btn dropdown-toggle border" type="submit" id="dropdownMenuButtonPagingSize" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        5개
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButtonPagingSize">
                        <a class="dropdown-item" th:onclick="getPostList('?size=5', this)">5개</a>
                        <a class="dropdown-item" th:onclick="getPostList('?size=10', this)">10개</a>
                        <a class="dropdown-item" th:onclick="getPostList('?size=30', this)">30개</a>
                    </div>
                </span>
                    <span th:align="right">
                    <button class="btn btn dropdown-toggle border" type="submit" id="dropdownMenuButtonSort" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        최신순
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButtonSort">
                        <a class="dropdown-item" th:onclick="getPostList('?sort=createDate,desc&page=0', this)">최신순</a>
                        <a class="dropdown-item" th:onclick="getPostList('?sort=viewCount,desc&page=0', this)">조회순</a>
                        <a class="dropdown-item" th:onclick="getPostList('?sort=likeCount,desc&page=0', this)">좋아요순</a>
                    </div>
                </span>
                </div>

            </div>
        <hr>
<!--        게시물 영역 시작 -->
        <div class="posts-area">
        </div>
<!--        게시물 영역 끝-->

    </div>
</section>
<div th:replace="fragments/footer :: footer"/>
<script th:inline="javascript">
    //게시물 불러오기
    function getPostList(url_parameter, obj) {
        //선택한 버튼에 따라 버튼 텍스트 변경
        const sub_button_text =  $(obj).text();
        const parent_button = $(obj).parent("div").parent("span").children("button");
        parent_button.html(sub_button_text);

        let url_params = new URLSearchParams(url_parameters);
        const entries = new URLSearchParams(url_parameter).entries();

        for (const entry of entries) {
            url_params.set(entry[0], entry[1]);
        }

        url_parameters = "?" + url_params;

        const url = "/posts/list" + url_parameters

        console.log("확인", url);

        $.ajax({
            type:'GET',
            url:url,
            contentType: 'application/json',
            success:function(data) {

                var post_html = "";
                var paging = data.paging;
                var post_list = paging.content;
                var count = post_list.length;

                if(count > 0) {
                    $.each(post_list, function (index, item) {
                        post_html += getPost(index, item);
                    });

                    post_html += getPaging(data);

                }
                else {
                    post_html = "<div>등록된 게시글이 없습니다.</div>";
                }

                $(".posts-area").html(post_html);


            },
            error:function(){
                alert('통신실패');
            }
        });
    }

    function getPost(index, item) {

        var post_html = "";

        if (item != null) {

            var category = item.category;
            var createDate = item.createDate;
            var post_id = item.id;
            var title = item.title;
            var author_nickname = item.authorNickName;
            var view_count = item.viewCount;
            var like_count = item.likeCount;

            post_html += "<article class='blog_item'>";
            //사진영역
            post_html += "<div class='blog_item_img'>";
            post_html += "<img class='card-img rounded-0' src='../../static/img/blog/single_blog_1.png' alt=''>";
            post_html += "<a href='#' class='blog_item_date'>";
            post_html += "<h3>" + category + "</h3>";
            post_html += "<p>" + createDate + "</p>";
            post_html += "</a>"
            post_html += "</div>"

            //세부영역
            post_html += "<div class='blog_details'>";
            post_html += "<a class='d-inline-block' href='/posts/" + post_id  + "'>";
            post_html += "<h2>" + title + "</h2>";
            post_html += ""
            post_html += "</a>";
            post_html += "<ul class='blog-info-link'>"
            post_html += "<li><a>" + author_nickname + "<i class='far fa-user'></i></a></li>"
            post_html += "<li><a><i class='far fa-eye'>조회수 : " + view_count + "</i></a></li>"
            post_html += "<li><a><i class='far fa-heart'>좋아요 : "  + like_count + "</i></a></li>"
            //세션처리
            post_html += "<li><a role='button' onclick='likePost(" + post_id + ")'>좋아요</a></li>"
            //세션처리
            post_html += "</ul>";
            post_html += "</div>";

            post_html += "</article>";
        }

        return post_html;
    }

    function getPaging(data) {
        var paging_html = "";
        var paging = data.paging;
        var searchKeyword = data.searchKeyword;

        if (searchKeyword == undefined) {
            searchKeyword = null;
        }

        //페이징 영역 시작
        if (!data.empty) {

            var paging_number = paging.number;
            var paging_size = paging.size;
            var total_pages = paging.totalPages;
            console.log("몇번째", paging_number, paging_size);

            paging_html += "<nav class='blog-pagination justify-content-center d-flex'>";
            paging_html += "<ul class='pagination justify-content-center'>";

            //이전버튼
            if (paging_number != 0) {
                paging_html += "<li class='page-item'>";
                var criteria = "?page=" + (paging_number - 1);
                paging_html += "<a class='page-link' onclick='getPostList(" + "\"" + criteria + "\"" + ")'" + ">";
                paging_html += "<span>이전</span>";
                paging_html += "</a>";
            }

            //페이지 넘버링
            for (var i = 0; i < total_pages; i++) {
                var criteria = "?page=" + i;
                paging_html += "<li><a class='page-link' onclick='getPostList(" + "\"" + criteria + "\"" + ")'" + ">" + (i + 1) + "</a></li>";
            }

            //다음버튼
            if (paging_number != total_pages - 1) {
                paging_html += "<li class='page-item'>";
                var criteria = "?page=" + (paging_number + 1);
                paging_html += "<a class='page-link' onclick='getPostList(" + "\"" + criteria + "\"" + ")'" + ">";
                paging_html += "<span>다음</span>";
                paging_html += "</a>";
            }

            paging_html += "</ul>";
            paging_html += "</nav>";

        }


        return paging_html;
    }

    //게시물 좋아요
    function likePost(post_id) {
        $.ajax({
            type:'PUT',
            url:"/posts/" + post_id + "/like",
            contentType: 'application/json',
            success:function(data){
                if(data === 'OK') {
                    console.log('게시물 좋아요 완료');
                } else {
                    alert('로그인 이후 이용해주시기 바랍니다.');
                    console.log('게시물 좋아요 실패');
                }

                getPostList();
            },
            error:function(){
                alert('통신실패');
            }
        });
    }

    //url에서 파라미터만을 가져옴
    var url_parameters = window.location.search;
    getPostList(url_parameters);

</script>
</body>
</html>